<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		1
	</ArticleCount>
	<Articles>
		<item>
			<Title><![CDATA[点击进入歌曲播放器]]></Title>
			<Description>
				<![CDATA[]]>
			</Description>
			<PicUrl>
				<![CDATA[]]>
			</PicUrl>
			<Url>
				<![CDATA[http://guanghe.chuanchang.cc/player.html?uid=<%=@user._id%>]]>
			</Url>
		</item>
	</Articles>
</xml>
