<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		1
	</ArticleCount>
	<Articles>
		<item>
			<Title><![CDATA[感谢您购买专辑《二十二》]]></Title>
			<Description>
				<![CDATA[我是廖国钺，
《二十二》是我的第一张个人专辑，
也是大学四年的音乐总结，
希望我的歌声能够给你最温暖的感动

点击“阅读全文”收听歌声和背后的故事]]>
			</Description>
			<PicUrl>
				<![CDATA[http://guanghe-photo.b0.upaiyun.com/card/4f5b1b7590b0d7a6e2a363c94595cc89.jpg!card]]>
			</PicUrl>
			<Url>
				<![CDATA[http://guanghe.chuanchang.cc/qrcode?uid=<%=@user._id%>]]>
			</Url>
		</item>
	</Articles>
</xml>
