<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		1
	</ArticleCount>
	<Articles>
		<item>
			<Title><![CDATA[欢迎兑换廖国钺的歌曲]]></Title>
			<Description>
				<![CDATA[点击进入兑换页面 %>]]>
			</Description>
			<PicUrl>
				<![CDATA[http://guanghe-photo.b0.upaiyun.com/card/4f5b1b7590b0d7a6e2a363c94595cc89.jpg!card]]>
			</PicUrl>
			<Url>
				<![CDATA[http://guanghe.chuanchang.cc/qrcode]]>
			</Url>
		</item>
	</Articles>
</xml>
