<div class="content">
	<div class="inner">
		<div class="topbar">
			<div class="pause_button toucha"></div>
			<div class="play_button toucha"></div>
			<div id="marquee" class="song_title gray_font">
				<marquee scrollamount="2">
					<%= @song.name %>·<%= @song.idol.name %>
				</marquee>
			</div>
		</div>
		<div class="panel">
			<!-- <div class="cd"></div> -->
			<div class="paper">
				<div class="papertop"></div>
				<div class="paperbottom">
					<div class="song_description gray_font">
						<%= @song.description %>
					</div>
				</div>
			</div>
			
			<%= link_to raw('<div class="like_button toucha"></div>'), zan_song_path(@song), :remote => true %>	
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".toucha").on("touchstart", function() {
		});
	});
</script>