<div class="content">
	<div class="inner">
		<div class="topbar">
			<div class="pause_button toucha"></div>
			<div class="play_button toucha"></div>
		</div>
		<div class="panel">
			<!-- <div class="cd"></div> -->
			<div class="paper">
				<div class="papertop"></div>
				<div class="paperbottom"></div>
			</div>
			<div class="like_button toucha"></div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		$(".toucha").on("touchstart", function(){
		});
	});
</script>