<div class="content">
	<div class="inner">
		<div class="topbar">
			<div class="pause_button"></div>
			<div class="play_button"></div>
		</div>
		<div class="panel">
			<div class="like_button"></div>
		</div>
	</div>
</div>