<div class="content">
	<div class="inner">
		<div class="topbar">
			<div class="pause_button toucha"></div>
			<div class="play_button toucha"></div>
		</div>
		<div class="panel">
			<div class="like_button toucha"></div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		$(".toucha").on("touchstart", function(){
		});
	});
</script>