<div class="bandit-panel">
	<div class="bandit-header">
		<div class="bandit-player-panel" id="bandit-player">
			<div class="bandit-player-buttons">
				<span class="glyphicon glyphicon-play" id="bandit-play-button"></span>
				<span class="glyphicon glyphicon-pause"id="bandit-pause-button" ></span>
			</div>
			<div class="bandit-player-info">
				
			</div>
		</div>
	</div>
	
	<div class="bandit-body">
		
	</div>
	
	<div class="bandit-footer">
		
	</div>
</div>
