<div class="gh-admission-main">
	<div class="container">
		<h2>光合音乐入场券</h2>
		<p class="lead">一个月最难忘的音乐经历，迈出音乐旅程的第一步<br />面对梦想，这一次我们将不遗余力</p>
		<div class="gh-timeline-container">
			<div class="gh-timeline-major">
				<a class="btn btn-lg btn-outline">第0天</a>
			</div>
			<div class="gh-timeline-minor">
				<h4>上传最初的5首作品</h4>
				<p>选择你最钟爱的5首作品进行上传</p>
			</div>
			<div class="gh-timeline-major">
				<a class="btn btn-lg btn-outline">第5天</a>
			</div>
			<div class="gh-timeline-minor">
				<h4>上传最初的5首作品</h4>
				<p>选择你最钟爱的5首作品进行上传</p>
			</div>
			<div class="gh-timeline-major">
				<a class="btn btn-lg btn-outline">第8天</a>
			</div>
			<div class="gh-timeline-minor">
				<h4>上传最初的5首作品</h4>
				<p>选择你最钟爱的5首作品进行上传</p>
			</div>
			<div class="gh-timeline-major">
				<a class="btn btn-lg btn-outline">第10天</a>
			</div>
			<div class="gh-timeline-minor">
				<h4>上传最初的5首作品</h4>
				<p>选择你最钟爱的5首作品进行上传</p>
			</div>
		</div>
	</div>
</div>