<div class="container">
<div class="row">
	<div class="col-md-4">
	<a href="<%= songs_path %>" class="myself-header-panel">
		<div class="panel panel-info">
  			<div class="panel-heading">
  				<p class="myself-header-title"><span class="glyphicon glyphicon-music"></span> 23</p>
  				<p class="myself-header-info">总歌曲数</p>
  			</div>
  		</div>
  	</a>
  	</div>
  	<div class="panel panel-default col-md-4">
  		<div class="panel-body">
    		13级
  		</div>
  	</div>
  	<div class="panel panel-default col-md-4">
  		<div class="panel-body">
    		1234名粉丝
  		</div>
  	</div>
</div>
		
</div>
	
</div>
