<div class="container">
<div class="row">
	<div class="col-md-4">
	<a href="<%= songs_path %>" class="myself-header-panel">
		<div class="panel panel-info">
  			<div class="panel-heading">
  				<p class="myself-header-title"><span class="glyphicon glyphicon-music"></span> 23</p>
  				<p class="myself-header-info">总歌曲数</p>
  			</div>
  		</div>
  	</a>
  	</div>
  	<div class="col-md-4">
	<a href="<%= songs_path %>" class="myself-header-panel">
		<div class="panel panel-success">
  			<div class="panel-heading">
  				<p class="myself-header-title"><span class="glyphicon glyphicon-flag"></span> 59</p>
  				<p class="myself-header-info">总活动数</p>
  			</div>
  		</div>
  	</a>
  	</div>
  	<div class="col-md-4">
	<a href="<%= songs_path %>" class="myself-header-panel">
		<div class="panel panel-warning">
  			<div class="panel-heading">
  				<p class="myself-header-title"><span class="glyphicon glyphicon-thumbs-up"></span> 1342</p>
  				<p class="myself-header-info">总人气值</p>
  			</div>
  		</div>
  	</a>
  	</div>
</div>
		
</div>
	
</div>
