<div class="gh-producer-main">
	<div class="container">
		<div class="panel panel-outline">
			<div class="row">
				<h2>O2音乐工作室</h2>
				<p>一群清华理工男创立，最懂互联网的音乐团队<br />音乐人背后的靠谱技术宅，努力创造更多的音乐可能</p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h3>王天居</h3>
					<p>制作人</p>
				</div>
				<div class="col-sm-2">
					<h3>胡晨</h3>
					<p>吉他手、编曲</p>
				</div>
				<div class="col-sm-2">
					<h3>王思谦</h3>
					<p>编曲、键盘手</p>
				</div>
				<div class="col-sm-2">
					<h3>赵广为</h3>
					<p>作曲、编曲</p>
				</div>
				<div class="col-sm-2">
					<h3>王博</h3>
					<p>录音混音师</p>
				</div>
			</div>
		</div>
		<div class="panel panel-outline">
			<div class="row">
				<h2>有沐音乐工作室</h2>
				<p>以打造高品质音乐为核心业务，并致力于发展成为一个独具特色的概念型音乐综合体<br />有沐希望能和你一起享受音乐带给生活的乐趣</p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h3>朱金泰</h3>
					<p>制作人、编曲、吉他手</p>
				</div>
				<div class="col-sm-2">
					<h3>陈迪</h3>
					<p>制作人、编曲、键盘手</p>
				</div>
				<div class="col-sm-2">
					<h3>彭博</h3>
					<p>艺人统筹</p>
				</div>
				<div class="col-sm-2">
					<h3>欧阳尹路</h3>
					<p>作曲、编曲</p>
				</div>
				<div class="col-sm-2">
					<h3>郑昊杰</h3>
					<p>录音混音师</p>
				</div>
			</div>
		</div>
	</div>
</div>
