<div class="gh-songs-main">
	<div class="container">
		<a class="btn btn-outline btn-lg btn-block"> <h3>我的歌曲</h3> </a>
		<div class="row" style="margin:0 auto;text-align:center">
			<div id="container" class="masonry js-masonry"  data-masonry-options='{"itemSelector": ".item" ,"isFitWidth": true}'>
				<% @songs.each do |song| %>
				<div class="item">
					<div class="thumbnail gh-song-panel">
						<img class="img-responsive"  alt="用户头像" src="http://guanghe-photo.b0.upaiyun.com/avatar/4b7dca79dd618be9ea5c93edd1ed71a6.png!avatarsmall">
						<div class="caption">
							<h3><%= song.name %></h3>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									600/1000人气
								</div>
							</div>
							<p>
								600/1000人气升级到绿色
							</p>
							<p>
								<%= song.description %>
							</p>
							<p>
								<a href="<%= edit_song_path(song) %>" class="btn btn-outline" role="button">编辑</a>
								<a href="#" class="btn btn-outline" role="button">分享</a>
							</p>
						</div>
					</div>
				</div>
				<% end %>
				<div class="item">
					<a  href="/songs/new" class="thumbnail gh-song-panel"> <img class="img-responsive"  alt="用户头像" src="http://guanghe-photo.b0.upaiyun.com/avatar/4b7dca79dd618be9ea5c93edd1ed71a6.png!avatarsmall"> <h3>上传歌曲</h3> </a>
				</div>

			</div>
		</div>
	</div>

</div>
