<style>
	.btn-outline {
		background-color: #ff7e00;
		border-color: #ffffff;
		color: #ffffff;
	}

	.btn-outline:active {
		background-color: #ffffff;
		border-color: #ff7e00;
		color: #ff7e00;
	}
	.btn-outline:hover {
		background-color: #ffffff;
		border-color: #ff7e00;
		color: #ff7e00;
	}
	
	.btn-outline-1 {
		background-color: #7ecef4;
		border-color: #ffffff;
		color: #ffffff;
	}
	
	.btn-outline1-1:active {
		background-color: #ffffff;
		border-color: #7ecef4;
		color: #7ecef4;
	}
	.btn-outline1-1:hover {
		background-color: #ffffff;
		border-color: #7ecef4;
		color: #7ece74;
	}

	hr {
		border-top: 1px solid #aaaaaa;
		margin-bottom: 15px;
	}
</style>
<%= simple_form_for(@code, :url => qrcode_path, :html => { :method => :put }, wrapper: :prepend) do |f| %>
<div class="row">
	<div class="col-md-12" style="text-align:center">
		<div style="height:136px;width:100%;text-align:center;overflow:hidden">
			<div class="qrcode_top"></div>
		</div>
		<div class="col-md-12" style="text-align:center">
			<div class="qrcode_middle"></div>
		</div>
	</div>
	<% if @user.slots.count > 0 %>
	<div class="row" style="margin-top:10px">
		<div class="col-xs-8 col-xs-offset-2"style="text-align:center">
			<a href="player.html" class="btn btn-outline-1 btn-lg btn-block">直接进入播放器</a>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2"style="text-align:center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2"style="text-align:center">
			<%= f.input :code, :placeholder =>  "输入兑换号收听歌曲", label:false%>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2"style="text-align:center">
			<%= f.submit '确认提交', :class => "btn btn-outline btn-lg btn-block", :disable_with => '验证中' %>
		</div>
	</div>
	<% end %>
