<div id="gh-recruit-step1">
	<div class="gh-recruit-main">
		<div class="container">
			<h1>Code：<%= @code %></h1>
			<p class="lead">
				<%= @message %>
			</p>
			<% if @url != nil%>
				<p class="lead">
					<a href="<%=@url%>">点击进入播放器</a>
				</p>
			<% end %>
		</div>
	</div>
</div>
