<div class="gh-recruit-main">
	<div class="container">
		<h1>音乐的革命需要更多的力量</h1>
		<p class="lead">我们会尽快对您的信息进行审核<br />如果和我们的预期一致<br />我们会主动和您联系</p>
		<hr />
		<p class="lead">请牢记咱的接头暗号</p>
		<h3>“ <%= @recruit.code %> ”</h3>
	</div>
</div>
<div class="gh-recruit-main default">
	<div class="container">
		<h2>联系我们</h2>
		<p class="lead">您有任何疑问或是想法<br />可以发送邮件到</p>
		<p class="lead" style="text-decoration : underline;">join@guanghemusic.com</p>
		<p class="lead">或者关注我们的微信公众账号</p>
		<p class="lead">guanghemusic</p>
		<p class="lead">记得报上暗号哦~</p>
	</div>
</div>
<div class="gh-recruit-main red">
	<div class="container">
		<h2>分享给小伙伴</h2>
		<p class="lead">把这个页面分享到朋友圈<br />让更多的力量汇聚起来</p>
		<p class="lead">光合音乐</p>
	</div>
</div>
