<div class="gh-recruit-main">
	<div class="container">
		<h2>音乐的革命需要更多的力量</h2>
		<p class="lead">我们会尽快对您的信息进行审核<br />如果和我们的预期一致<br />我们会主动和您联系</p>
		<hr />
		<p class="lead">最后麻烦帮一个忙<br />请把这个页面分享到朋友圈<br />注意别泄露暗号哦</p>
	</div>
</div>
<div class="gh-recruit-main default">
	<div class="container">
		<h2>联系我们</h2>
		<p class="lead">您有任何疑问或是想法<br />可以发送邮件到</p>
		<p class="lead">join@guanghemusic.com</p>
		<p class="lead">或者关注我们的微信公众账号</p>
		<p class="lead">guanghemusic</p>
	</div>
</div>
