/* btn-outline style */
.btn-outline {
  background-color: rgba(0, 0, 0, 0);
  border-color: #554c63;
  color: #554c63;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  background-color: #554c63;
  border-color: #554c63;
  color: #FFFFFF;
}

.btn-outline-inverse {
  background-color: rgba(0, 0, 0, 0);
  border-color: #9c88bc;
  color: #FFFFFF;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #554c63;
  text-shadow: none;
}

/* Main Intro Page Style*/

.gh-intro-main {
  margin-top: -20px;
  background: image-url('gc-promo.jpg') no-repeat scroll center bottom / cover rgba(0, 0, 0, 0);
  height: 400px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
}

.gh-intro-main h1 {
  margin-top: 165px;
  margin-bottom: 30px;
}

.gh-intro-main .lead {
  line-height: 1.5;
}

.gh-intro-feature {
  border-bottom: 1px solid #E5E5E5;
  color: #555555;
  line-height: 1.5;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.gh-intro-feature img {
  margin-bottom: 20px;
}

.gh-intro-feature .lead {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.gh-intro-feature hr {
  width: 100px;
  margin: 40px auto;
}

.gh-intro-feature .feature-item:hover {
  color: #554c63;
}

/* Myself Home Page Style */
.gh-artist-main .btn-outline {
  margin: 10px auto;
}

.gh-fb-main .btn-outline {
  margin: 10px auto;
}

.gh-fb-main .lead {
  font-size: 14px;
}

/* Song Index Page Style */
.gh-songs-main .btn-outline {
  margin: 10px auto;
}

.gh-songs-main .gh-song-panel {
  text-align: center;
  width: 270px;
}
.masonry {
  margin: 0 auto;
}

.item {
  width:  280px;
  float: left;
  padding: 5px;
  height: 400px;
  overflow: hidden; 
}

.gh-songs-main .progress-bar {
  background-color: #554c63;
}

.gh-producer-main .panel-outline {
  margin: 10px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: #554c63;
  color: #554c63;
}

a.navbar-name-btn {
  min-width: 134px;
  text-align: left;
}

div.navbar-add-btn {
  margin-right: 10px;
}

p.sign-up-info {
  margin: 5px auto;
  text-align: center;
}

a.guanghe-logo {
  background-image: image-url('gc-logo.png');
  background-size: cover;
  height: 50px;
  width: 109px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 15px;
  float: left;
}

a.myself-header-panel {
  color: #FFF;
  height: 150px;
}

a.myself-header-panel:hover {
  text-decoration: none
}

p.myself-header-title {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

p.myself-header-info {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}


/* Hack Bootstrap nav btn */
.nav .open > a.btn-outline-inverse {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #554c63;
  text-shadow: none;
}


