@charset "utf-8";

html,body {
  width: 100%;
  margin: 0;
  padding: 0; //
  overflow: hidden;
  background: #E7E7E7;
  font-family: '黑体', Helvetica, Calibri, Arial, sans-serif;
}

div,a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0px;
  padding: 0px;
}

span {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper {
  width: 100%;
  height: 14px;
}

div.content {
  text-align: center;
  width: 100%;
}

div.inner {
  width: 320px;
  display: inline-block;
  overflow: hidden;
}

div.topbar {
  position: relative;
  height: 59px;
  width: 291px;
  background: image-url('screen.png') 0px 0px no-repeat;
  background-size:100% 100%;
  display: block;
}

div.panel {
  position: relative;
  height: 293px;
  width: 291px;
  background: image-url('display_05.png') 0px 0px no-repeat;
  background-size:100% 100%;
  overflow:hidden;
}

div.play_button {
  float:left;
  position: relative;
  top: 13%;
  left: 7.2%;
  height: 32px;
  width: 28px;
  background: image-url('play.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 10;
}

div.play_button:active{
  background: image-url('play_press.png') 0px 0px no-repeat;
  background-size:100% 100%;
}

div.pause_button {
  float:left;
  position: relative;
  top: 13%;
  left: 6.74%;
  height: 32px;
  width: 28px;
  background: image-url('pause.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 10;
}

div.pause_button:active{
  background: image-url('pause_press.png') 0px 0px no-repeat;
  background-size:100% 100%;
}

div.like_button {
  position:relative;
  left:7%;
  top:-190px;
  height: 40px;
  width: 252px;
  background: image-url('love.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 11;
}

div.like_button:active{
  background: image-url('love_press.png') 0px 0px no-repeat;
  background-size:100% 100%;
}

div.cd {
  position:relative;
  height: 204px;
  width: 204px;
  top:-60px;
  left:40px;
  background: image-url('CD.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 10;
}

@-webkit-keyframes slidedown{
      0% {-webkit-transform: translate(0, -300px); }
      50% {-webkit-transform: translate(0, -300px); }
      100% {-webkit-transform: translate(0, 0); }
}

div.paper {
  position: relative;
  height: 426px;
  width: 234px;
  left:28px;
  top: -200px;
  z-index: 10;
  -webkit-animation: slidedown 2s ease-out;
}

div.papertop {
  height: 213px;
  width: 234px;
  background: image-url('papertop.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 10;
}

div.paperbottom {
  position: relative;
  height: 213px;
  width: 234px;
  background: image-url('paperbottom.png') 0px 0px no-repeat;
  background-size:100% 100%;
  z-index: 10;
}

div.song_title {
  position: absolute;
  top:17px;
  left:90px;
  height:14px;
  width:175px;
}

div.song_description {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 145px;
  text-align: left;
}

.gray_font {
  font-size: 12px;
  color: #575757;
}
